
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About TrueSec</h1>
      <p>This is a webservice prototype for TrueSec's security audit system</p>
      <p><b>TrueSec - Sveriges främsta spjutspetsbolag inom avancerad IT-säkerhet, infrastruktur och säker utveckling.</b></p>

<p>Vår främsta styrka är att vi har samlat Sveriges i särklass främsta it-säkerhetsexperter och sammanfört dem med flera av Sveriges främsta experter på avancerad infrastruktur. Det gör att vi har en insikt i att inte bara identifiera och förstå säkerhetsproblematik utan vi kan rekommendera och implementera lösningar som fungerar på ett optimalt sätt i Er befintliga infrastruktur.</p>

<p>Det är unikt att ha denna spetskompetens i dessa områden då de är så beroende av varandra. Det går inte att bygga bra infrastruktur idag utan förståelse för it-säkerhet och det går inte att bygga optimal it-säkerhet utan förståelse för infrastruktur. Hela vår verksamhet och även hela denna site präglas av detta.</p>

<p><b>Hur startade allt?</p></b>
<p>Bolaget grundades av Peter Galli, erfaren VD från it-säkerhetsbranschen och Marcus Murray en av Sveriges första Microsoft MVP:er på IT-säkerhet, samt en av världens främsta experter och föreläsare inom ämnet. Båda arbetade tidigare på Nexus som då var Sveriges i särklass främsta IT-säkerhetsbolag och Peter Galli var affärsområdeschef för konsultverksamheten.</p>

<p>Redan från start anslöt ansedda experter som exempelvis Hasain Alshakarti, Johan Blom och Peter Baggesen, samtliga av dessa är delägare i TrueSec som är 100 % personalägt.</p>

<p><b>TrueSec idag</b></p>
<p>Idag, mer än tio år senare har TrueSec vuxit och har framgångsrikt etablerat sig som Sveriges främsta bolag inom teknisk IT-säkerhet, avancerad infrastruktur och säker utveckling.</p>

<p>Vår unika företagskultur bygger på att bolaget finns till för Oss anställda. Det skapar obegränsade utvecklingsmöjligheter för dig och all möjlighet att påverka vår verksamhets fortsatta utveckling.</p>

<p>Våra kunder är företrädesvis myndigheter, banker, större bolag och verksamheter i Sverige och internationellt med högt säkerhetsfokus. Dock har omvärldens behov av spetskompetens ökat stadigt vilket lett till att alla typer av bolag idag nyttjar våra tjänster.</p>
    </div>
</div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='public/css/about.css') }}">
{% endblock %}